* {
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    outline: none;
}

.css-line {
    width: 1px;
    height: 14px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
